# deny most common except .php
<FilesMatch "\.(inc|tpl|h|ihtml|sql|ini|conf|class|bin|spd|theme|module)$">
deny from all
</FilesMatch>
                           
<IFModule mod_rewrite.c>   
	RewriteEngine On 
	RewriteRule ^index.html zhik/index.php [L]
	RewriteRule ^search.html zhik/index.php?item=search&act=do [L]
	RewriteRule ^about-us.html zhik/index.php?item=about [L]
	RewriteRule ^gallery.html zhik/index.php?item=gallery [L]
	RewriteRule ^articles.html zhik/index.php?item=articles [L]
	RewriteRule ^contact.html zhik/index.php?item=contact [L]
	RewriteRule ^news.html zhik/index.php?item=news&act=do [L]
	RewriteRule ^works.html zhik/index.php?item=works&act=do [L]
	RewriteRule ^works-cat([0-9]+).html zhik/index.php?item=works&act=do&catid=$1 [L]
	RewriteRule ^news-page([0-9]+).html zhik/index.php?item=news&act=do&pid=$1 [L]
	RewriteRule ^news-fullpage([0-9]+).html zhik/index.php?item=fullnews&act=do&wid=$1 [L]
	RewriteRule ^work-fullpage([0-9]+).html zhik/index.php?item=fullworks&act=do&wid=$1 [L]
	RewriteRule ^article-fullpage([0-9]+).html zhik/index.php?item=fullarticles&act=do&wid=$1 [L]		
	#RewriteRule (.*)\.xml (.*)$1.php [NC]	#sitemap.xml
	RewriteBase /

#Skip WWW	
	#RewriteCond %{HTTP_HOST} ^www.zhik.pro [NC] 
	#RewriteRule ^(.*)$ http://zhik.pro/$1 [L,R=301]
#Add WWW		
	RewriteCond %{HTTP_HOST} ^zhik.pro$ [NC]
	RewriteRule ^(.*)$ http://www.zhik.pro/$1 [L,R=301]	
	
# proc/self/environ? no way!
	RewriteCond %{QUERY_STRING} proc/self/environ [OR]

	# Block out any script trying to set a mosConfig value through the URL
	RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]

	# Block out any script trying to base64_encode crap to send via URL
	RewriteCond %{QUERY_STRING} base64_encode.*(.*) [OR]

	# Block out any script that includes a <script> tag in URL
	RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]

	# Block out any script trying to set a PHP GLOBALS variable via URL
	RewriteCond %{QUERY_STRING} GLOBALS(=|[|\%[0-9A-Z]{0,2}) [OR]

	# Block out any script trying to modify a _REQUEST variable via URL
	RewriteCond %{QUERY_STRING} _REQUEST(=|[|\%[0-9A-Z]{0,2})

	# Send all blocked request to homepage with 403 Forbidden error!
	RewriteRule ^(.*)$ index.php [F,L]	

</IFModule>
# Enable / Disable directory Listing/Browsing
Options -Indexes
IndexOptions -FancyIndexing
ServerSignature Off

#RewriteCond %{HTTP_HOST} ^zhik.pro$
#RewriteRule ^/?$ "http\:\/\/www\.zhik\.pro\/" [R=301,L]
